/* Navbar css */

header{
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%) !important;
    background-color: white !important;
    color: #0e2431;
}
header Nav{
    color: #0e2431 !important;
    
    /* padding-left: 25px !important; */
    font-size: 0.938rem !important;
    font-weight: 600;
    
}
.navbar-expand-lg .navbar-nav .nav-link{
    margin-right: 45px;
    color: #0e2431 !important;
}
.navbar-brand {
  
    margin-left: 15px;
    font-size: 0.938rem !important;
}

/* navabar css ends */

/* // Intro Section CSS */
.home{
    margin-left: 28px;
    margin-top: 50px;
}
.home__title{
    font-size: 3.5rem;
    margin-bottom: 2.5rem;
    color: #0e2431;
    font-weight: bold;
}
.home__title-color{
    color: #4070F4;
}
.home__img img{
    width: 100%;
}
.home .button {
    display: inline-block;
    text-decoration: none;
    background-color: #4070F4;
    color: #fff;
    padding: 0.75rem 2.5rem;
    font-weight: 600;
    border-radius: 0.5rem;
}
.home .button:hover{
    box-shadow: 0 10px 36px rgba(0,0,0,.15);
  }

  /* Intro section css ends */

  /* About Section css Starts */
  .About{
   margin-top: 4rem;
   /* margin-left: auto;
   margin-right: auto; */
  }

.about_title,.project_title{
        position: relative;
        font-size: 2rem;
        color: #4070F4;
        margin-top: 1rem;
        margin-bottom: 2rem;
        text-align: center;
        font-weight: bolder;
      
}
  .about_title,.project_title::after {
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2.5rem;
    background-color: #4070F4;
    font-weight: bold;
}

.about_image{
    width: 100%;
}
.about_2{
    margin-top: 8rem;
    
}
.about__subtitle{
    margin-bottom: 1rem;
    font-weight: bold;
}
.about__text{
    text-align:start;    
}

/* // About Section css ends */

 /* Skills section CSS starts */
.skills{
    margin-left: auto;
    margin-right: auto;
}
 .skills_title{
    position: relative;
    font-size: 2rem;
    color: #4070F4;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bolder;
  
}
.skills_title::after {
position: absolute;
content: "";
width: 64px;
height: 0.18rem;
left: 0;
right: 0;
margin: auto;
top: 2.5rem;
background-color: #4070F4;
font-weight: bold;
}

.icon_image{
    width: 30%;
    height: auto;
    text-align: center;
}
.icon_text{
   text-align: center;
   font-weight: 600;
   color: #0e2431; 
}
/* skills section css ends */

/* Project Section css starts */
.imageCol{
    text-align: center;
    padding-top: 2rem;
    margin-top: 2rem;
}
.projImg{
    /* width: 90%; */
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 25px rgba(14,36,49,.15);
    border-radius: .3rem;
    /* overflow: hidden; */

}
 /* .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  Create four equal columns that sits next to each other
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  
  Responsive layout - makes a two column-layout instead of four columns
  @media (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  Responsive layout - makes the two columns stack on top of each other instead of next to each other
  @media (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  } */