/* Navbar css */

header{
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%) !important;
    background-color: white !important;
    color: #0E2431;
}

header Nav{
    color: #0E2431 !important;
    
    /* padding-left: 25px !important; */
    font-size: 1.1rem !important;
    font-weight: 600;
    
}
.navbar-expand-lg .navbar-nav .nav-link{
    margin-right: 45px;
    color: #0e2431 !important;
}

.navbar-brand {
  
    margin-left: 15px;
    font-size: 1.2rem !important;
}

/* navabar css ends */

/* // Intro Section CSS */
.home{
    margin-left: 74px;
    margin-top: 50px;
    /* overflow-x: hidden; */
}

.home__title{
    font-size: 3.5rem;
    margin-bottom: 2.5rem;
    color: #0e2431;
    font-weight: bold;
}
.home__title-color{
    color: #4070F4;
}
.home__img img{
    width: 100%;
}
.home .button {
    display: inline-block;
    text-decoration: none;
    background-color: #4070F4;
    color: #fff;
    padding: 0.75rem 2.5rem;
    font-weight: 600;
    border-radius: 0.5rem;
}
.home .button:hover{
    box-shadow: 0 10px 36px rgba(0,0,0,.15);
  }

  /* Intro section css ends */

  /* About Section css Starts */
  .About{
   margin-top: 4rem;
   /* margin-left: auto;
   margin-right: auto; */
  }

.about_title{
        position: relative;
        font-size: 2rem;
        color: #4070F4;
        margin-top: 1rem;
        margin-bottom: 2rem;
        text-align: center;
        font-weight: bolder;
      
}
  .about_title::after {
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2.5rem;
    background-color: #4070F4;
    font-weight: bold;
}

.about_image img{
    width: 100%;
}
.about_2{
    margin-top: 8rem;
    
}
.about__subtitle{
    margin-bottom: 1rem;
    font-weight: bold;
}
/* .about__text{
    text-align:start;    
} */

/* // About Section css ends */

 /* Skills section CSS starts */
.skills{
   margin-top: 4rem;
}
.skills_title{
    position: relative;
    font-size: 2rem;
    color: #4070F4;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bolder;
  
}
.skills_title::after {
position: absolute;
content: "";
width: 64px;
height: 0.18rem;
left: 0;
right: 0;
margin: auto;
top: 2.5rem;
background-color: #4070F4;
font-weight: bold;
}

.icon_image{
    width: 30%;
    height: auto;
    text-align: center;
}
.icon_text{
   text-align: center;
   font-weight: 600;
   color: #0e2431; 
}
/* skills section css ends */

/* Project Section css starts */
.project{
    margin-top: 4rem;
}
.project_title{
    position: relative;
    font-size: 2rem;
    color: #4070F4;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bolder;
}
.project_title::after {
    position: absolute;
    content: "";
    width: 96px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2.5rem;
    background-color: #4070F4;
    font-weight: bold;
    }
.imageCol{
    text-align: center;
    padding-top: 2rem;
    margin-top: 2rem;
}

    
.projImg{
    /* width: 90%; */
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 25px rgba(14,36,49,.15);
    border-radius: .3rem;
    object-fit: fill;
    /* overflow: hidden; */

}
/* Project Section CSS Ends */

.footer{
    background-color: #0E2431;
    color: #fff;
    text-align: center;
    font-weight: 600;
    padding: 2rem 0;
    margin-top: 5rem;
  }
  .footer__title{
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .footer__social{
    margin-bottom: 2rem;
  }
  .footer__icon{
    font-size: 1.5rem;
    color: #fff;
    margin: 0 1rem;
  }
  .footer__icon:hover{

    color: #fff;
  }

    /* Media Quiries */
    @media (max-width: 768px){
        .navbar-expand-lg .navbar-nav .nav-link{
            margin-right: 0px;
            
        }
        .navbar-brand {
           margin-left: 0px;
        }
        .home{
            margin-left: 28px;
        }
        .home__title{
            font-size: 3rem;
        }
        .home__img{
            text-align: center;
        }
       .about_2{
        text-align: center;
       }
       .about_image{
        text-align: center;
       }
    }

    @media (max-width:576px) {
       
     
        .home__title{
            font-size: 2rem;
        }
        
       .about_image img{
        text-align: center;
        
       }
       .footer__title{
        font-size: 1.5rem;
      }
      .footer__icon{
        font-size: 1rem;
      }
    }
 